<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Car Management System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to Car Management System</h1>
    <p>Please choose an option below:</p>
    <ul>
        <li><a href="/admin/register">Register as Admin</a></li>
        <li><a href="/user/register">Register as User</a></li>
    </ul>
    <p>Or login if you already have an account:</p>
    <ul>
        <li><a href="/admin/login">Admin Login</a></li>
        <li><a href="/user/login">User Login</a></li>
    </ul>
</body>
</html>
